@model UserModel.User

<div class="text-center">
    <h1 class="title">Добавление пользователя</h1>
    <div class="row">
        <form asp-controller="Home" asp-action="UserCreate" method="post">
            <input type="hidden" asp-for="Id"/>
            <div asp-validation-summary="All"></div>

            <div class="edit-label">
                <label class="lab" asp-for="Name"></label>
                <input class="input input-edit" asp-for="Name" />
            </div>

            <div class="edit-label">
                <label class="lab" asp-for="Surname"></label>
                <input class="input input-edit" asp-for="Surname" />
            </div>

            <div class="edit-label">
                <label class="lab" asp-for="Email"></label>
                <input class="input input-edit" asp-for="Email" />
            </div>

            <div class="edit-label">
                <label class="lab" asp-for="Status"></label>
                <input class="input input-edit" asp-for="Status" />
            </div>

            <input class="btn add-btn"  type="submit" value="Добавить" />
        </form>
    </div>
</div>