@model NewTryMVC.Models.User

<div class="text-center">
    <h1>Редактировать данные</h1>
    <div>
        <form asp-controller="Home" asp-action="UserEdit" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label asp-for="Surname"></label>
                <input asp-for="Surname" />
                <span asp-validation-for="Surname"></span>
            </div>

            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div>
                <label asp-for="Status"></label>
                <input asp-for="Status" />
                <span asp-validation-for="Status"></span>
            </div>

            <input  type="submit" value="Изменить" />
        </form>
    </div>
</div>
